{% extends 'base.html.twig' %}
{% block title %}ADIF S.E. - Cuenta corriente{% endblock %}
{% block body %}

	<div class="container-fluid no-padding">

    {% include '@GYL\CuentaCorrienteBundle/Resources/views/Partials/header.html.twig' %}

    {% include '@GYL\CuentaCorrienteBundle/Resources/views/Partials/table.html.twig' %}

	</div>
    
{% endblock %}
