{% extends "@FOSUser/layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}

    <main role="main">
        <section id="registro_static">
            <div class="container">
                <div style="float:right">
                    <a href="{{ path('preinscripcion_formulario') }}" >
                        Volver al formulario
                    </a>
                </div>
                <i><h5>TÉRMINOS Y CONDICIONES</h5>
                    <br>
                    <h6>CUENTA DE MIEMBRO, CONTRASEÑA Y SEGURIDAD</h6>
                    <br>
                    <p>Se le asignará una contraseña y una cuenta una vez completado el proceso de inscripción del
                        Servicio
                        a
                        través del “Pre Inscripcion”. Usted se responsabiliza de mantener la confidencialidad de su
                        contraseña y
                        cuenta, y de todas las actividades que se efectúen bajo su contraseña o cuenta. Usted se
                        compromete
                        a:
                        (a) notificar inmediatamente a ADIF S.E de cualquier uso no autorizado de su contraseña o cuenta
                        o
                        de
                        cualquier otro fallo de seguridad, y (b) asegurarse de que su cuenta sea cerrada al final de
                        cada
                        sesión. ADIF S.E no puede y no será responsable por ninguna pérdida o daño que resulte como
                        consecuencia
                        de su incumplimiento de las disposiciones de esta Sección.</p>
                    <br>
                    <h6>ADVERTENCIAS ESPECIALES PARA USO INTERNO</h6>
                    <br>
                    <p>Teniendo en cuenta la naturaleza global del Internet, usted se compromete a obedecer todas las
                        reglas
                        locales con respecto a la conducta online y contenido aceptable. En particular, usted se
                        compromete
                        a
                        obedecer todas las leyes aplicables a la transmisión de datos técnicos exportados de Argentina o
                        el
                        país
                        en el cual usted reside.</p>
                    <br>
                    <h6>INDEMNIZACIÓN</h6>
                    <br>
                    <p>Usted se compromete a indemnizar y exonerar a ADIF S.E, sus subsidiarias, afiliados, oficiales,
                        agentes,
                        asociados ("co-branders"), u otros socios, y empleados de cualquier reclamo o demanda,
                        incluyendo
                        honorarios razonables de los abogados, hecho por una tercera parte derivados del Contenido que
                        Usted
                        presente, anuncie o transmita por medio del Servicio, su uso y conexión al mismo, su violación
                        de
                        las
                        CDS, o su violación de los derechos de terceros.</p>
                    <br>
                    <h6>PROHIBICION DE REVENDER EL SERVICIO</h6>
                    <br>
                    <p>Usted se compromete a no reproducir, duplicar, copiar, vender, revender o explotar por cualquier
                        propósito comercial, ninguna parte del Servicio, uso del Servicio, o acceso al Servicio.</p>
                    <br>
                    <h6>PRÁCTICAS GENERALES ACERCA DEL USO Y RETENCIÓN</h6>
                    <br>
                    <p>Usted acepta que ADIF S.E puede establecer prácticas generales y limitaciones con respecto al uso
                        del
                        Servicio, Usted acuerda que ADIF S.E no tiene responsabilidad u obligación legal por la
                        eliminación
                        o
                        fallo al guardar mensajes u otras comunicaciones, o cualquier otro Contenido mantenido o
                        transmitido
                        por
                        el Servicio. Usted además acepta que ADIF S.E se reserva el derecho de modificar estas prácticas
                        generales y limitaciones en cualquier momento, a su plena discreción, con o sin previa
                        notificación.</p>
                    <br>
                    <h6>MODIFICACIONES AL SERVICIO</h6>
                    <br>
                    <p>ADIF S.E se reserva el derecho de modificar, o interrumpir el Servicio o cualquier parte del
                        mismo,
                        temporal o permanentemente, en cualquier momento y periódicamente, con o sin previa
                        notificación.
                        Usted
                        acuerda que ADIF S.E. no será responsable hacia usted o terceras partes por ninguna
                        modificación,
                        suspensión, o interrupción del Servicio.</p>
                    <br>
                    <h6>TERMINACIÓN</h6>
                    <br>
                    <p>Usted acuerda que ADIF S.E a su plena discreción, puede cancelar su contraseña, cuenta (o alguna
                        parte
                        de la misma) o su uso del Servicio, y retirar y eliminar cualquier Contenido dentro del Servicio
                        por
                        cualquier razón, incluyendo, sin limitación. ADIF S.E. también podrá a su plena discreción y en
                        cualquier momento, interrumpir el Servicio, o alguna parte del mismo, con o sin previa
                        notificación.
                        Usted acuerda que cualquier terminación de su acceso al Servicio puede ser efectuada sin
                        notificación
                        previa, y acepta y acuerda que ADIF S.E podrá desactivar o borrar inmediatamente su cuenta y
                        toda la
                        información y archivos relacionados con la misma y/o prohibir cualquier nuevo acceso a dichos
                        archivos o
                        al Servicio. Además, usted acuerda que ADIF S.E. no será responsable hacia usted o tercera parte
                        por
                        cualquier terminación de su acceso al Servicio.</p>
                    <br>
                    <p>Usted acepta y acuerda que el Servicio y cualquier software necesario usado en conexión con el
                        Servicio
                        ("Software") contiene bienes e información confidencial que se encuentra protegida por las leyes
                        vigentes de propiedad intelectual y de otra naturaleza. ADIF S.E le otorga un derecho y licencia
                        personal, no-transferible, y no-exclusiva para usar el código objeto de su Software en una sola
                        computadora; siempre y cuando usted, u otra persona con su ayuda, no copie, modifique, haga una
                        obra
                        derivativa, haga ingeniería reversiva, haga ensamblaje reversivo, o de cualquier otra manera
                        intente
                        descubrir alguno de los códigos de configuración, venda, asigne, subarriende, otorgue un interés
                        de
                        seguridad en/o de cualquier otra forma transfiera algún derecho en el Software. Usted se
                        compromete
                        a no
                        modificar de ninguna manera el Software o a usar versiones modificadas del Software, que incluya
                        sin
                        limitarse al propósito de obtener acceso no autorizado alServicio. Usted se compromete a no
                        entrar
                        al
                        Servicio por ningún otro medio que no sea la zona de interfaz provista por ADIF S.E para uso de
                        entrada
                        al Servicio.</p>
                    <br>
                    <h6>LÍMITE DE LAS GARANTÍAS</h6>
                    <br>
                    <h6>USTED EXPRESAMENTE COMPRENDE Y CONVIENE EN QUE:</h6>
                    <br>
                    <p>a. El uso del servicio lo hace a su propio riesgo. el servicio se ofrece "tal cual es" y según se
                        encuentre "disponible". ADIF S.E. no otorga garantía de ningún tipo, ya sea expresa o implícita,
                        incluyendo, pero no limitándose, a las garantías implícitas de comercialidad, aptitud para un
                        propósito
                        en particular, y no violación.

                        b. ADIF S.E no garantiza que: (i) El servicio se ajustará a sus requisitos, (ii) El servicio
                        será
                        ininterrumpido, puntual, seguro, o libre de error; (iii) Los resultados que puedan ser obtenidos
                        del
                        uso
                        del servicio sean veraces o fiables; (iv) Cualquier error en el software será corregido.

                        c. Cualquier material descargado ("downloaded") o de cualquier otra forma obtenido por medio del
                        uso
                        del
                        servicio, lo es bajo su propia discreción y riesgo y usted será responsable exclusivo de
                        cualquier
                        daño
                        al sistema de su computadora o pérdida de datos que resulte de la descarga ("download") de
                        cualquiera de
                        estos materiales.

                        d. Ningún consejo o información, ya sea oral o escrito, obtenido de ADIF S.E. por usted, o por
                        medio
                        del
                        servicio constituirá garantía alguna.</p>
                    <br>
                    <h6>LÍMITE DE RESPONSABILIDAD</h6>
                    <br>
                    <p>Usted comprende y acuerda expresamente que ADIF S.E. no será responsable por ningún daño directo,
                        indirecto, incidental, especial, derivado, o ejemplar, que incluya sin limitaciones, daños por
                        pérdida
                        de ganancia, buena fe, uso, datos u otras pérdidas intangibles (aun cuando ADIF S.E. haya sido
                        advertido
                        de la posibilidad de dichos daños), como resultado de: (i) El uso o imposibilidad de usar el
                        servicio;
                        (ii) El costo de obtención de bienes sustituibles y servicios resultantes de cualquier bien,
                        dato,
                        información o servicio adquirido u obtenido, o mensaje recibido, o transacciones realizadas por
                        medio
                        del servicio, o desde el servicio (iii) Acceso no autorizado a sus transmisiones, o alteración
                        de
                        las
                        mismas, o de sus datos; (iv) Declaraciones o conductas de alguna tercera parte en el servicio;
                        o,
                        (v)
                        Cualquier otro asunto relacionado al servicio.</p>
                    <br>
                    <h6>NOTIFICACIÓN</h6>
                    <br>
                    <p>Las notificaciones deben ser cursadas por medio del correo electrónico.</p>
                    <br>
                    <h6>VIOLACIONES</h6>
                    <br>
                    <p>En caso de que usted conozca cualquier violación de las Condiciones de Servicio por parte de
                        cualquier
                        tercero deberá notificarlo inmediatamente a nuestro equipo de Atención a los Usuarios</p>
                    <a>(contactoweb@adifse.com.ar).</a></i>
                <br>  <br>
            </div>
        </section>
        <hr class="hr-footer">
    </main>

{% endblock fos_user_content %}

