<header>
    <div class="container-fluid no-padding">

        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 bg-cyan band-header">
            <div class="bg-cyan col-lg-8 col-lg-offset-4 col-md-12 col-sm-12 col-xs-12">
            </div>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 bg-blue ">
            {% image '@logo_png' %}
                <img class="logo-trenes" alt="Trenes" src="{{ asset_url }}">
            {% endimage %}
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 divider-white"></div>
    </div>
</header>
