<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="">
        {% image '@favicon' %}
            <link rel="icon" type="image/x-icon" href="{{ asset_url }}" />
        {% endimage %}
        {% stylesheets '@bootstrap_css'
                       '@font_awesome_css'
                       '@poncho_css'
                       '@style_css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        {% block headJavascript %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}

        <div class="loading"></div>

        {% javascripts '@jquery_js'
                       '@jquery_validate_js' 
                       '@jquery_validate_messages_es_AR_js'
                       '@jquery_inputmask_js' 
                       '@bootstrap_js' 
                       '@config_js'
                       '@funciones_js' %}
            <script src="{{ asset_url }}"></script>
            <script type="text/javascript">
                var __AJAX_PATH__ = '{{ path('home') }}';
                $('.loading').hide();
            </script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
        

    </body>
</html>
