<div>
	<h6>Requisitos de la contraseña:</h6>
  	<p>-Mínimo <b>6 caracteres</b>, máximo <b>8 caracteres</b>
  	<br>-Al menos <b>un número</b> y <b>una mayúscula</b>
  	<br>-No utilizar <b>caracteres especiales</b></p>
</div>